<h1>Index#search</h1>
<div class=content>
<p> 
<%= form_tag("show",:method=>"get",:id=>"search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: 'Write here'%> 
<%= submit_tag "search"%>
<% end %>
